* {
    font-family: Silkscreen, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-section {
    text-align: center;
}

#title {
    font-size: 2rem;
}

#subtext {
    font-size: 1.2rem;
}

#calc-body {
    width: 600px;
    box-shadow: 1px 2px 10px black;
    padding-bottom: 25px;
    border-radius: 0px 0px 40px 0px;
    background-color: #e8e3de;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-output,
#output {
    width: 493px;
    border: solid 1px black;
    text-align: right;
    font-size: 1.3rem;
    padding-right: 5px;
}

#top-output,
#output {
    background-color: #9DBD0F;
}

#top-output {
    height: 25px;
    padding-bottom: 20px;
    border-bottom: none;
    color: #306230;
}

#output {
    height: 35px;
    padding-top: 5px;

    border-top: none;
    font-size: 2rem;

    color: #0f380f;
}

#calculator-btns {
    display: grid;
    grid-template-areas: "clear clear clear add"
        "numbers numbers numbers subtract"
        "numbers numbers numbers multiply"
        "numbers numbers numbers divide"
        "numbers numbers numbers equals";
    width: 500px;
    height: 500px;

}

#clear-btn {
    grid-area: clear;
}

#add-btn {
    grid-area: add;
}

#subtract-btn {
    grid-area: subtract;
}

#multiply-btn {
    grid-area: multiply;
}

#divide-btn {
    grid-area: divide;
}

#equals-btn {
    grid-area: equals;
}

#num-buttons {
    display: grid;
    grid-area: numbers;
    grid-template-areas: "seven eight nine"
        "four five six"
        "one two three"
        "negative zero decimal";
}

.outer-buttons,
.inner-buttons {
    font-size: 1.5rem;
}