.title-section {
    text-align: center;
}

#title {
    font-size: 2rem;
}

#subtext {
    font-size: 1.2rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output {
    width: 498px;
    height: 21px;
    border: solid 1px black;
    text-align: right;
    font-size: 1.3rem;
    padding-top: 79px;
}

#calculator-btns {
    display: grid;
    grid-template-areas: "clear clear clear add"
        "numbers numbers numbers subtract"
        "numbers numbers numbers multiply"
        "numbers numbers numbers divide"
        "numbers numbers numbers equals";
    width: 500px;
    height: 500px;

}

#clear-btn {
    grid-area: clear;
}

#add-btn {
    grid-area: add;
}

#subtract-btn {
    grid-area: subtract;
}

#multiply-btn {
    grid-area: multiply;
}

#divide-btn {
    grid-area: divide;
}

#equals-btn {
    grid-area: equals;
}

#num-buttons {
    display: grid;
    grid-area: numbers;
    grid-template-areas: "seven eight nine"
        "four five six"
        "one two three"
        "negative zero decimal";
}